:root {
    --color-primary: #00458a;
    /* UniJO Blue */
    --color-primary-rgb: 0, 69, 138;
    /* RGB equivalent of UniJO Blue */
    --color-secondary: #3498db;
    --color-secondary-rgb: 52, 152, 219;
    --color-secondary-g: #d5e3eb;
    /* Light Blue */
    --color-accent: #3498db;
    /* Blue */
    --color-white: #ffffff;
    --color-dark: #002b5b;
    /* Dark Blue */
    --color-gray: #6c757d;
    --color-gray-dark: #616a6b;
    /* Gray */
    --color-light-gray: #f8fafc;
    /* Light Gray */
    --color-text: #555;
    /* Text Color */
    --color-border: #ddd;
    /* Border Color */
    --color-bright-blue: #167dbb;
    /* Bright Blue */
    --color-hover-accent: #a8d4f0;
    /* Light Blue */
    --color-footer-bg: #6c757d;
}