@import "../styles/colors.css";

/* === Navbar Styling === */
.navbar {
    padding: 0 !important;
}

/* Navbar Background */
.custom-navbar {
    background-color: var(--color-white);
    /* border-bottom: 2px solid var(--color-primary); */
}

/* Brand */
.custom-brand {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.5rem;
}

/* Logo */
.logo {
    width: 200px;
    height: 70px;
    background-image: url("../assets/logo_UNIVAL.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Nav Links */
.custom-nav-links {
    display: flex;
    gap: 40px;
}

.custom-nav-links .custom-nav-link {
    color: var(--color-primary);
    font-size: 19px;
    letter-spacing: 1.2px;
    font-weight: 700;
    transition: color 0.3s;
}

.custom-nav-links .custom-nav-link:hover,
.custom-nav-links .custom-nav-link.active {
    color: var(--color-accent);
}

/* Dropdown */
.custom-nav-dropdown .nav-link {
    color: var(--color-text);
    font-weight: 500;
}

.custom-nav-dropdown .dropdown-toggle::after {
    display: none !important;
}

.custom-dropdown-item {
    color: var(--color-text);
}

.custom-dropdown-item:hover {
    background-color: var(--color-light-gray);
    color: var(--color-primary);
}

/* Search Icon */
.custom-search-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-left: 15px;
}

.custom-search-icon:hover {
    background-color: rgba(var(--color-primary), 0.1);
}

/* Global Top Bar Colors */
.bg-dark-blue {
    background-color: var(--color-primary);
}

.text-gold {
    color: var(--color-accent);
}

.text-gold:hover {
    color: var(--color-white);
}

/* Mobile View */
@media (max-width: 768px) {
    .language-switcher {
        margin-left: 0;
        padding: 10px;
        width: 100%;
        justify-content: center;
        border-top: 1px solid var(--color-light-gray);
        background-color: var(--color-light-gray);
    }

    .global-icon {
        font-size: 1.5rem;
    }

    .language-text {
        font-size: 1.1rem;
    }

    .custom-nav-links {
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .custom-nav-link {
        font-size: 16px;
    }

    .navbar-collapse {
        padding-top: 10px;
    }
}

@media (max-width: 576px) {
    .advancing {
        font-size: 0.6rem;
    }

    .custom-search-icon {
        visibility: hidden;
    }
}